node_modules
dist
.yarn/cache
.yarn/install-state.gz
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.gitignore
.env
.env.*
README.md
.vscode
.idea
coverage
.cache
*.md
.DS_Store
Dockerfile
.dockerignore
